@import "tailwindcss";
@plugin '../hero.mjs';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.js';
@source '../node_modules/@heroui/theme/dist/**/*.ts';
@source '../node_modules/@heroui/theme/dist/**/*.jsx';
@source '../node_modules/@heroui/theme/dist/**/*.tsx';
@source './**/*.js';
@source './**/*.ts';
@source './**/*.jsx';
@source './**/*.tsx';
@source '../lib/**/*.js';
@source '../lib/**/*.ts';
@source '../lib/**/*.jsx';
@source '../lib/**/*.tsx';
@custom-variant dark (&:is(.dark *));
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
